
/* Секция с идеями */

.ideas {
	width: 100%;
	background: $light-bg;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding-bottom: 0;
	&__box {
		width: 1170px;
		min-height: 482px;
		position: relative;
	}
	&__img {
		position: absolute;
		transition: height .7s ease;
		&:hover {
			z-index: 20;
			height: 482px;
		}
	}
	&__img_left {
		bottom: 0;
		left: -50px;
	}
	&__img_center {
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		z-index: 5;
	}
	&__img_right{
		bottom: 0;
		right: -50px;
	}
	&__img_left:hover ~ .ideas__img_center{
		height: 400px;
	}
	&__img_right:hover + .ideas__img_center{
		height: 400px;
	}
}