
/* Секция видео */

.presentation {
	width: 1903px;
	height: 705px;
	position: relative;
	text-align: center;
	box-sizing: border-box;
	&__video {
		width: 100%;
		height: 100%;
	}
	&__item {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
	}
	&__play {
		width: 100px;
		height: 100px;
		margin: 0 auto 44px;
		border-radius: 50%;
		background-color: rgba(0,0,0,.2);
		background-image: url(../img/play.svg);
		background-repeat: no-repeat;
		background-position: center;
		&:hover {
			background-image: url(../img/play_hover.svg);
		}
	}
	&__title {
		font-weight: 500;
		color: $light-color;
	}
	&__text {
		width: 555px;
		font-family: $txt-font;
		font-size: 16px;
		line-height: 28px;
		font-weight: 300;
		color: $light-color;
		margin: 29px 0 40px;
	}
	&__time {
		font-family: $txt-font;
		font-size: 14px;
		line-height: 24px;
		font-weight: 400;
		color: $hover-color;
	}
}