$txt-font: 'montserrat', verdana, sans-serif;
$main-font: 'raleway', verdana, sans-serif;
$font: 'roboto', arial, sans-serif;

$footer-bg: #111;
$footer-main-bg: #191919;
$light-color: #fff;
$hover-color: #c7b299;
$btn-bg: #998675;
$title-color: #555;
$color: #8c8c8c;
$posts-hover-bg: #362f2d;
$pagination_bg: #939291;
$pagination_hover: #ad9f8f;
$arrow-bg: #d3c1ad;
$services-line: #f1eee9;
$light-bg: #fbfaf8;
$aside-gradient: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);
$aside_text: #615855;
$projects_link_border: #ebebeb;
$projects_color: #d1d1d1;