@import url("https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800&display=swap");
body {
  font-family: "Raleway", sans-serif; }

a {
  text-decoration: none; }

.container {
  width: 1170px;
  margin: 0 auto; }

.top {
  width: 100%;
  color: #fff;
  background-image: url(../img/header_bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 55px; }
  .top__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  top: -15px; }
  .logo__link {
    font-size: 34px;
    color: #fff;
    display: block; }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .nav__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .nav__link {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 300;
    color: #fff;
    display: block;
    padding: 0 15px; }
    .nav__link:hover {
      color: #c7b299; }

.basket__btn {
  border: none;
  background-color: transparent;
  background-image: url(../img/basket.svg);
  background-repeat: no-repeat;
  padding: 0 15px;
  margin-left: 30px; }
  .basket__btn:hover {
    background-image: url(../img/basket-hover.svg);
    cursor: pointer; }

.search {
  position: relative; }
  .search__reset {
    background: none;
    border: none;
    color: #fff;
    display: none; }
  .search__form {
    background: none;
    border: none;
    outline: none;
    width: 33px;
    height: 28px;
    padding-left: 10px;
    color: transparent;
    background-image: url(../img/search.svg);
    background-repeat: no-repeat;
    background-position: 8px 2px;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s; }
    .search__form:hover {
      background-image: url(../img/search-hover.svg); }
    .search__form:focus, .search__form:active {
      border: 1px solid #fff;
      width: 170px;
      color: #fff;
      background-image: none; }
    .search__form:focus + .search__reset,
    .search__form:active + .search__reset {
      display: block;
      position: absolute;
      top: 3px;
      right: 0; }
    .search__form::-webkit-search-decoration, .search__form::-webkit-search-cancel-button, .search__form::-webkit-search-results-button, .search__form::-webkit-search-results-decoration {
      display: none; }
