@import "_mixins.scss";
@import "_variables.scss";
@import "_fonts.scss";

body {
	font-family: $main-font;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

.section {
	display: flex;
	box-sizing:border-box;
	flex-wrap: wrap;
	padding: 80px 0;
}
.title {
	font-size: 30px;
	font-weight: 600;
	color: $title-color;
	margin-bottom: 24px;
	display: block;
}

.text {
	width: 760px;
	font-family: $txt-font;
	font-size: 16px;
	line-height: 28px;
	font-weight: 300;
	margin: 0 0 40px 0;
	color: $color;
}

@import "_header.scss";
@import "_services.scss";
@import "_ideas.scss";
@import "_aside.scss";
@import "_media.scss";
@import "_projects.scss";
@import "_presentation.scss";
@import "_mobile.scss";
@import "_statistics.scss";